@using OneData.Demo.Enums
@model OneData.Demo.ViewModels.MoviesViewModel

<div class="container modal-contentbox p-5">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="col-12 p-0">
            <h4>Edit movie</h4>
        </div>
        <hr />
        @using (Html.BeginForm("SaveEdited", Model.ControllerName, FormMethod.Post, new { id = "form-edit" }))
        {
            @Html.HiddenFor(m => m.Selected.Id)
            @Html.HiddenFor(m => m.Selected.DateCreated)
            @Html.HiddenFor(m => m.Selected.DateModified)
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Selected.Name, new { style = "max-width: unset;" })
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="width:3em;"><i class="fa fa-heart"></i></div>
                    </div>
                    @Html.TextBoxFor(m => m.Selected.Name, new { @class = "form-control", style = "max-width: unset;" })
                </div>
                @Html.ValidationMessageFor(m => m.Selected.Name, null, new { @class = "text-warning" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Selected.Year, new { style = "max-width: unset;" })
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="width:3em;"><i class="fa fa-heart"></i></div>
                    </div>
                    @Html.TextBoxFor(m => m.Selected.Year, new { @class = "form-control", style = "max-width: unset;" })
                </div>
                @Html.ValidationMessageFor(m => m.Selected.Year, null, new { @class = "text-warning" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Selected.PublishDate, new { style = "max-width: unset;" })
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="width:3em;"><i class="fa fa-envelope"></i></div>
                    </div>
                    <input type="datetime-local" data-val="true" data-val-required="This value is required" id="Selected_PublishDate" name="Selected.PublishDate" class="form-control" style="max-width: unset;" value="@Model.Selected.PublishDate.ToString("yyyy-MM-ddThh:mm")" />
                </div>
                @Html.ValidationMessageFor(m => m.Selected.PublishDate, null, new { @class = "text-warning" })
            </div>
            <div class="col-md-12">
                @Html.LabelFor(m => m.Selected.Description, new { style = "max-width: unset;" })
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="width:3em;"><i class="fa fa-heart"></i></div>
                    </div>
                    @Html.TextAreaFor(m => m.Selected.Description, new { @class = "form-control", style = "max-width: unset;" })
                </div>
                @Html.ValidationMessageFor(m => m.Selected.Description, null, new { @class = "text-warning" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Selected.DurationInMinutes, new { style = "max-width: unset;" })
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="width:3em;"><i class="fa fa-heart"></i></div>
                    </div>
                    @Html.TextBoxFor(m => m.Selected.DurationInMinutes, new { @class = "form-control", style = "max-width: unset;" })
                </div>
                @Html.ValidationMessageFor(m => m.Selected.DurationInMinutes, null, new { @class = "text-warning" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Selected.OriginId, new { style = "max-width: unset;" })
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="width:3em;"><i class="fa fa-bookmark" aria-hidden="true"></i></div>
                    </div>
                    @Html.DropDownListFor(m => m.Selected.OriginId, new SelectList(Model.Origins, "Id", "Name", Model.Selected.OriginId), "Select an option.", new { @class = "form-control", style = "max-width:unset;" })
                </div>
                @Html.ValidationMessageFor(m => m.Selected.Score, null, new { @class = "text-warning" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Selected.Score, new { style = "max-width: unset;" })
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="width:3em;"><i class="fa fa-heart"></i></div>
                    </div>
                    @Html.TextBoxFor(m => m.Selected.Score, new { @class = "form-control", style = "max-width: unset;" })
                </div>
                @Html.ValidationMessageFor(m => m.Selected.Score, null, new { @class = "text-warning" })
            </div>
            <div class="col-md-12">
                @Html.LabelFor(m => m.Selected.CoverUrl, new { style = "max-width: unset;" })
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="width:3em;"><i class="fa fa-heart"></i></div>
                    </div>
                    @Html.TextBoxFor(m => m.Selected.CoverUrl, new { @class = "form-control", style = "max-width: unset;" })
                </div>
                @Html.ValidationMessageFor(m => m.Selected.CoverUrl, null, new { @class = "text-warning" })
            </div>
            <div class="col-md-12">
                @Html.LabelFor(m => m.Selected.Rating, new { style = "max-width: unset;" })
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="width:3em;"><i class="fa fa-bookmark" aria-hidden="true"></i></div>
                    </div>
                    @Html.DropDownListFor(m => m.Selected.Rating, Html.GetEnumSelectList<MovieRatings>(), "Select an option.", new { @class = "form-control", style = "max-width:unset;" })
                </div>
                @Html.ValidationMessageFor(m => m.Selected.CoverUrl, null, new { @class = "text-warning" })
            </div>
        </div>

        }
        <hr />
        <div class="row">
            <div class="col-6 d-flex justify-content-end">
                @{
                    if (Model.DisplayMode == DisplayModes.Edit)
                    {
                        <input type="button" id="saveChanges" onclick="saveFormData(false, '@Model.ControllerName', '')" value="Save" class="btn btn-success btn-sm w-100 align-self-end" style="max-width:unset;" />
                    }
                    else if (Model.DisplayMode == DisplayModes.New)
                    {
                        <input type="button" id="saveNew" onclick="saveFormData(true, '@Model.ControllerName', '')" value="Save" class="btn btn-success btn-sm w-100 align-self-end" style="max-width:unset;" />
                    }
                }
            </div>
            <div class="col-6 d-flex justify-content-end">
                <input type="button" onclick="toggleModificationModal()" name="cancel" value="Cancel" class="btn btn-danger btn-sm w-100 align-self-end" style="max-width:unset;" />
            </div>
        </div>

    </div>
</div>